In [75]:
import pandas as pd

df_cut = pd.read_csv('cutting.csv',na_filter = False)

In [76]:
list(df_cut)

['Unnamed: 0',
 'LoanID',
 'ClientID',
 'StatusCodeID',
 'LoanAmount',
 'LoanDate',
 'Interest',
 'Terms',
 'ApplicationID',
 'IsInternalRefinance',
 'IsExternalRefinance',
 'Gender',
 'State',
 'SalaryFrequencyID',
 'VehicleID',
 'VehicleYear',
 'Make',
 'Mileage',
 'ApplicationTermMonths',
 'ApplicationDate',
 'coApplicantID',
 'MonthlySalary',
 'Age',
 'MonthlyPayment',
 'Salary_Payment_Ratio',
 'Vehicle_Age',
 'Month']

In [77]:
df_cut = df_cut.drop('Unnamed: 0',axis = 1)

bins = [low,30,40,50,60,up]
first = '%d-29' %low
last = '60-%d' %up
group_names = [first, '30-39','40-49','50-59', last]
DF_trial1_new_updated['Age_Group'] = pd.cut(DF_trial1_new_updated['Age'], bins, labels=group_names)

DF_trial1_new_updated.Age_Group[0:10]

In [78]:
# loan default status
upper = df_cut.StatusCodeID.max()
df_cut['Loan_Default'] = pd.cut(df_cut['StatusCodeID'], bins = [0,3,upper], labels=[False,True])

In [79]:
df_cut = df_cut.drop('StatusCodeID',axis = 1)

In [80]:
# loan Amount
df_cut.LoanAmount.quantile(0.25)

2500.0

In [81]:
df_cut.LoanAmount.quantile(0.75)

6000.0

In [82]:
df_cut.LoanAmount.quantile(0.5)

3500.0

In [83]:
df_cut.LoanAmount.quantile(0.9)

9300.0

In [84]:
upper = df_cut.LoanAmount.max()
df_cut['LoanAmount_Group'] = pd.cut(df_cut['LoanAmount'],bins = [0,3000,6000,9000,upper], labels = ['0-3000','3000-6000','6000-9000','>=9000'])

In [85]:
df_cut = df_cut.drop('LoanAmount',axis = 1)

In [86]:
df_cut.Interest.unique()

array([ 0.18   ,  0.3599 ,  0.36   ,  0.21   ,  0.25   ,  0.359  ,
        0.3589 ,  0.3598 ,  0.3596 ,  0.3597 ,  0.17999,  0.1799 ])

In [87]:
df_cut.Gender.unique()

array(['M', 'F', ''], dtype=object)

In [88]:
df_cut.Gender = df_cut.Gender.replace('','U')

In [89]:
df_cut.Gender.unique()

array(['M', 'F', 'U'], dtype=object)

In [90]:
df_cut = df_cut.drop(['Salary','SalaryFrequencyID'],axis = 1)

ValueError: labels ['Salary'] not contained in axis

In [ ]:
df_cut = df_cut.drop('VehicleYear', axis = 1)

In [ ]:
df_cut = df_cut.drop(['ApplicationTermMonths', 'ApplicationDate', 'MM'], axis = 1)

In [91]:
list(df_cut)

['LoanID',
 'ClientID',
 'LoanDate',
 'Interest',
 'Terms',
 'ApplicationID',
 'IsInternalRefinance',
 'IsExternalRefinance',
 'Gender',
 'State',
 'SalaryFrequencyID',
 'VehicleID',
 'VehicleYear',
 'Make',
 'Mileage',
 'ApplicationTermMonths',
 'ApplicationDate',
 'coApplicantID',
 'MonthlySalary',
 'Age',
 'MonthlyPayment',
 'Salary_Payment_Ratio',
 'Vehicle_Age',
 'Month',
 'Loan_Default',
 'LoanAmount_Group']

In [92]:
type(df_cut.MonthlySalary.max())

str

In [93]:
df_cut['MonthlySalary'] = pd.to_numeric(df_cut['MonthlySalary'], errors='coerce')
df_cut['MonthlySalary'] = df_cut.MonthlySalary.fillna(0)

In [94]:
df_cut.MonthlySalary.quantile(0.25)

1375.33521159

In [95]:
df_cut.MonthlySalary.min()

0.0

In [96]:
df_cut.MonthlySalary.max()

3159661.319435

In [97]:
df_cut.MonthlySalary.quantile(0.5)

2200.0

In [98]:
df_cut.MonthlySalary.quantile(0.75)

3402.143071630001

In [99]:
df_cut.MonthlySalary.quantile(0.9)

5349.223489624001

In [100]:
upper = df_cut.MonthlySalary.max()
df_cut['Salary_Group'] = pd.cut(df_cut['MonthlySalary'], bins = [0, 2000, 4000, 6000, upper], labels = ['0-2000','2000-4000','4000-6000','>=6000'])

In [101]:
df_cut = df_cut.drop('MonthlySalary',axis = 1)

In [102]:
df_cut.Salary_Payment_Ratio.min()

0.0

In [103]:
df_cut.Salary_Payment_Ratio.max()

15725.640696

In [104]:
upper = df_cut.Salary_Payment_Ratio.max()
df_cut['SP_Ratio_Group'] = pd.cut(df_cut['Salary_Payment_Ratio'], bins = [0, 5, 10, 15,upper], labels = ['0-5','5-10','10-15','>=15'])

In [105]:
df_cut = df_cut.drop('Salary_Payment_Ratio', axis = 1)

In [106]:
df_cut.Vehicle_Age.max()
df_cut.Vehicle_Age.quantile(0.25)

6.0

In [107]:
upper = df_cut.Vehicle_Age.max()
df_cut['V_Age_Group'] = pd.cut(df_cut['Vehicle_Age'], bins = [0, 5, 10, 15, upper], labels = ['0-5','5-10','10-15','>=15'])

In [108]:
df_cut = df_cut.drop('Vehicle_Age',axis = 1)

In [109]:
list(df_cut)

['LoanID',
 'ClientID',
 'LoanDate',
 'Interest',
 'Terms',
 'ApplicationID',
 'IsInternalRefinance',
 'IsExternalRefinance',
 'Gender',
 'State',
 'SalaryFrequencyID',
 'VehicleID',
 'VehicleYear',
 'Make',
 'Mileage',
 'ApplicationTermMonths',
 'ApplicationDate',
 'coApplicantID',
 'Age',
 'MonthlyPayment',
 'Month',
 'Loan_Default',
 'LoanAmount_Group',
 'Salary_Group',
 'SP_Ratio_Group',
 'V_Age_Group']

In [110]:
df_cut.IsInternalRefinance.unique()

array([False,  True], dtype=bool)

In [111]:
df_cut.IsExternalRefinance.unique()

array([False,  True], dtype=bool)

In [112]:
round(df_cut.Interest[1]*100)/100

0.18

In [113]:
temp = []
n = len(df_cut)
for i in range(n):
    temp.append(round(df_cut.Interest[i]*100)/100)

In [114]:
df_cut['It'] = temp

In [115]:
df_cut.It.unique()

array([ 0.18,  0.36,  0.21,  0.25])

In [116]:
df_cut = df_cut.drop('Interest', axis = 1)

In [117]:
df_cut['Interest'] = df_cut['It']

In [118]:
df_cut = df_cut.drop('It',axis = 1)

In [119]:
temp_part = df_cut[['Loan_Default','ClientID']]
temp = temp_part.drop_duplicates('ClientID')
temp.index[temp['ClientID'] == 28].tolist()[0]
temp['ClientID'] = temp.ClientID.astype(str)

/Users/Isabella/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [120]:
f = []
for i in range(n):
    try:
        if df_cut.coApplicantID[i] == '':
            f.append('None')
        else:
            st = temp.index[temp['ClientID'] == df_cut.coApplicantID[i]].tolist()[0]
            f.append(temp['Loan_Default'][st])
    except IndexError:
        f.append('Unknown_CoApplicationID')

In [121]:
df_cut['CO_APP_Default_Status'] = f

In [122]:
df_cut = df_cut.drop('coApplicantID', axis = 1)

In [123]:
list(df_cut)

['LoanID',
 'ClientID',
 'LoanDate',
 'Terms',
 'ApplicationID',
 'IsInternalRefinance',
 'IsExternalRefinance',
 'Gender',
 'State',
 'SalaryFrequencyID',
 'VehicleID',
 'VehicleYear',
 'Make',
 'Mileage',
 'ApplicationTermMonths',
 'ApplicationDate',
 'Age',
 'MonthlyPayment',
 'Month',
 'Loan_Default',
 'LoanAmount_Group',
 'Salary_Group',
 'SP_Ratio_Group',
 'V_Age_Group',
 'Interest',
 'CO_APP_Default_Status']

In [124]:
df_cut.Mileage.max()

244844

In [125]:
df_cut.Mileage.min()

939

In [126]:
df_cut.Mileage.quantile(0.25)

74086.0

In [127]:
upper = df_cut.Mileage.max()
df_cut['Mileage_Group'] = pd.cut(df_cut['Mileage'], bins = [0,75000,150000,upper], labels = ['<75000','75000-150000','>=150000'])

In [128]:
df_cut = df_cut.drop('Mileage',axis = 1)

In [129]:
thres = df_cut[df_cut.Loan_Default == True].shape[0]/float(len(df_cut))
thres

0.0893371757925072

In [130]:
list(df_cut)

['LoanID',
 'ClientID',
 'LoanDate',
 'Terms',
 'ApplicationID',
 'IsInternalRefinance',
 'IsExternalRefinance',
 'Gender',
 'State',
 'SalaryFrequencyID',
 'VehicleID',
 'VehicleYear',
 'Make',
 'ApplicationTermMonths',
 'ApplicationDate',
 'Age',
 'MonthlyPayment',
 'Month',
 'Loan_Default',
 'LoanAmount_Group',
 'Salary_Group',
 'SP_Ratio_Group',
 'V_Age_Group',
 'Interest',
 'CO_APP_Default_Status',
 'Mileage_Group']

In [131]:
df_cut = df_cut.drop('LoanDate',axis = 1)

In [132]:
df_cut = df_cut.drop(['ClientID','ApplicationID','VehicleID'], axis = 1)

In [133]:
list(df_cut)

['LoanID',
 'Terms',
 'IsInternalRefinance',
 'IsExternalRefinance',
 'Gender',
 'State',
 'SalaryFrequencyID',
 'VehicleYear',
 'Make',
 'ApplicationTermMonths',
 'ApplicationDate',
 'Age',
 'MonthlyPayment',
 'Month',
 'Loan_Default',
 'LoanAmount_Group',
 'Salary_Group',
 'SP_Ratio_Group',
 'V_Age_Group',
 'Interest',
 'CO_APP_Default_Status',
 'Mileage_Group']

In [134]:
# deal with risky state

In [135]:
temp_s = df_cut[df_cut.Loan_Default == True]

In [136]:
temp_1 = temp_s.groupby('State').LoanID.count().to_frame().reset_index()
temp_1.columns = ['State','Default_Count']
temp_1.head(3)

  State  Default_Count
0    AL              8
1    AZ             12
2    CA             44

In [137]:
temp_s.groupby('State').LoanID.count().nlargest(5)

State
MI    50
CA    44
CO    31
FL    28
OK    27
Name: LoanID, dtype: int64

In [138]:
temp_2 = df_cut.groupby('State').LoanID.count().to_frame().reset_index()
temp_2.columns = ['State','Loan_Count']
temp_2.head(3)

  State  Loan_Count
0    AL          87
1    AR           1
2    AZ          68

In [139]:
td = pd.merge(temp_2,temp_1,on = 'State',how = 'left')

In [140]:
td['Default_level'] = td['Default_Count']/td['Loan_Count']
td.head(5)

  State  Loan_Count  Default_Count  Default_level
0    AL          87            8.0       0.091954
1    AR           1            NaN            NaN
2    AZ          68           12.0       0.176471
3    CA         567           44.0       0.077601
4    CO         355           31.0       0.087324

In [141]:
temp_td = td[td.Loan_Count >= 5].reset_index(drop = True)
temp_td.head(5)

  State  Loan_Count  Default_Count  Default_level
0    AL          87            8.0       0.091954
1    AZ          68           12.0       0.176471
2    CA         567           44.0       0.077601
3    CO         355           31.0       0.087324
4    FL         381           28.0       0.073491

In [142]:
risky_state = temp_td[temp_td.Default_level >= thres].reset_index(drop = True).State.values

In [143]:
risky_state

array(['AL', 'AZ', 'GA', 'IL', 'KS', 'MI', 'MN', 'ND', 'NM', 'OR', 'SC',
       'UT', 'WI', 'WY'], dtype=object)

In [147]:
df_cut['Risky_Area'] = df_cut['State'].isin(risky_state)

In [148]:
list(df_cut)

['LoanID',
 'Terms',
 'IsInternalRefinance',
 'IsExternalRefinance',
 'Gender',
 'State',
 'SalaryFrequencyID',
 'VehicleYear',
 'Make',
 'ApplicationTermMonths',
 'ApplicationDate',
 'Age',
 'MonthlyPayment',
 'Month',
 'Loan_Default',
 'LoanAmount_Group',
 'Salary_Group',
 'SP_Ratio_Group',
 'V_Age_Group',
 'Interest',
 'CO_APP_Default_Status',
 'Mileage_Group',
 'Risky_Area']

In [155]:
upper = df_cut.Age.max()
df_cut['Age_Group'] = pd.cut(df_cut['Age'],bins=[18,30,40,50,upper],labels = ['18-29','30-39','40-49','50&above'])

In [159]:
df_cut = df_cut.drop('Age',axis = 1)

ValueError: labels ['Age'] not contained in axis

In [158]:
df_cut.to_csv('grouping.csv')